html, body {
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #6b6b6b;
  background-color: #f9f9f9;
  height: 100%;
  scroll-behavior: smooth;
}

#container {
  min-height: 100%;
  margin-bottom: -76px;
  position: relative;
  display: inline;
}

.sticky {
  display: inline-block !important;
}

a {
  display: inline-block;
  padding: 10px;
  color: #005f9f;
}
a:hover {
  color: #00456c;
}

nav {
  padding: 0;
}
nav .navList {
  text-transform: uppercase;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  background: white;
}
nav .navList li {
  display: inline;
}
nav .navList a {
  display: inline-block;
  padding: 10px 6px;
  color: #005f9f;
  text-decoration: none;
}
nav .navList a:hover {
  text-decoration: underline;
}
nav .navList .active {
  font-weight: 700;
}
nav .logoBlock {
  background-color: #007eb4;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 0px, #005f9f 20px, #005F9F 17px), repeating-linear-gradient(135deg, transparent, transparent 0px, #005f9f 20px, #005f9f 17px);
  background: linear-gradient(135deg, #00456c, #007ed4);
}
nav .logoBlock .logo {
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 30px;
}
nav .pageTitle {
  text-transform: uppercase;
  font-size: 20px;
  padding: 20px 0;
}

.heroImage img {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 0;
  margin: 10px 5%;
  background-size: cover;
  width: 90%;
  height: auto;
}

button {
  background-color: #005f9f;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  padding: 5px 20px;
  display: inline-block;
  border: none;
  margin-bottom: 10px;
}
button:hover {
  cursor: pointer;
  background-color: #00456c;
}
button.photoButton {
  margin-top: 30px;
}
button a {
  padding: 0;
  color: white;
  text-decoration: none;
}
button a:hover {
  color: white;
  text-decoration: none;
}

.expansionCard {
  background: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 10px 20px 30px 20px;
  margin: 10px 5%;
}
.expansionCard .cardTitle {
  color: #005f9f;
  font-size: 14px;
}
.expansionCard .openCardTitle {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 15px;
}
.expansionCard .cardItem {
  font-size: 16px;
  color: #6b6b6b;
}
.expansionCard .cardItem .time, .expansionCard .cardItem .agent {
  font-weight: 100;
  padding-top: 15px;
}
.expansionCard .cardItem .event, .expansionCard .cardItem .guest, .expansionCard .cardItem .department {
  font-weight: 700;
  padding-top: 15px;
}
.expansionCard .cardItem .withGuest, .expansionCard .cardItem .copy {
  font-size: 15px;
  padding-top: 15px;
  font-weight: 100;
}
.expansionCard .cardItem .noPadding {
  padding-top: 0;
}
.expansionCard .cardItem .location {
  text-transform: uppercase;
  font-size: 15px;
  padding-top: 15px;
  font-weight: 100;
}
.expansionCard .cardItem .attire {
  font-size: 14px;
  font-weight: 100;
  padding-top: 15px;
}
.expansionCard .cardItem.galaEvent {
  background-color: #E4B74F;
  padding: 0 0 15px 0;
  margin: 0 -20px;
}
.expansionCard .cardItem.galaEvent .location {
  font-weight: 700;
  color: white;
  padding: 15px;
}
.expansionCard .cardItem.galaEvent .semiFormal {
  color: white;
  padding: 0;
}
.expansionCard .cardItem .casual {
  color: #C744B5;
}
.expansionCard .cardItem .businessCasual, .expansionCard .cardItem .department {
  color: #1eb7c8;
}
.expansionCard .cardItem .comfortableShoes {
  color: #04AA6D;
}
.expansionCard .cardItem .semiFormal, .expansionCard .cardItem .agent {
  color: #C7A044;
}
.expansionCard .cardItem .break {
  padding: 35px 25px;
  background: url("https://openutility.github.io/Break.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer {
  background-color: #007eb4;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 0px, #005f9f 20px, #005F9F 17px), repeating-linear-gradient(135deg, transparent, transparent 0px, #005f9f 20px, #005f9f 17px);
  background: linear-gradient(135deg, #00456c, #007ed4);
}
.footer .footerContent {
  color: white;
  padding: 20px 0;
  font-size: 14px;
}
.footer .footerContent a {
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
