@mixin background-diamonds {
    background-color: #007eb4;
    background-image:   repeating-linear-gradient(45deg, transparent, transparent 0px, #005f9f 20px, #005F9F 17px), 
                        repeating-linear-gradient(135deg, transparent, transparent 0px, #005f9f 20px, #005f9f 17px);
    background: linear-gradient(135deg, #00456c, #007ed4);
}


html, body {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    color: #6b6b6b;
    background-color: #f9f9f9;
    height: 100%;
    scroll-behavior: smooth;
    // font-family: (
    //     "proxima-nova",
    //     "Open Sans",
    //     "Gill Sans MT",
    //     "Gill Sans",
    //     Corbel,
    //     Arial,
    //     sans-serif,
    // );
}

#container {
    min-height: 100%;
    margin-bottom: -76px;
    position: relative;
    display: inline;
}
.sticky {
    display: inline-block !important;
}

a {
    display: inline-block;
    padding: 10px;
    color: #005f9f;

    &:hover {
        color: #00456c;
    }
}

nav {
    padding: 0;

    .navList {
        text-transform: uppercase;
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
        background: white;

        li {
            display: inline;
        }
        a {
            display: inline-block;
            padding: 10px 6px;
            color: #005f9f;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
        .active {
            font-weight: 700;
        }
    }
    .logoBlock {
        @include background-diamonds;


        .logo {
            color: white;
            font-size: 20px;
            font-weight: 700;
            padding: 30px;
        }
    }
    .pageTitle {
        text-transform: uppercase;
        font-size: 20px;
        padding: 20px 0;
    }
}

.heroImage {
    img {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        padding: 0;
        margin: 10px 5%;
        background-size: cover;
        width: 90%;
        height: auto;
    }
}

button {
    background-color: #005f9f;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    padding: 5px 20px;
    display: inline-block;
    border: none;
    margin-bottom: 10px;
    &:hover {
        cursor: pointer;
        background-color: #00456c;
    }
    &.photoButton {
        margin-top: 30px;
    }
    a {
        padding: 0;
        color: white;
        text-decoration: none;
        &:hover {
            color: white;
            text-decoration: none;
        }
    }
}

.expansionCard {
    background: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 10px 20px 30px 20px;
    margin: 10px 5%;

    .cardTitle {
        color: #005f9f;
        font-size: 14px;
    }
    .openCardTitle {
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 15px;
    }
    .cardItem {
        font-size: 16px;
        color: #6b6b6b;
        .time, .agent {
            font-weight: 300;
            padding-top: 15px;
        }
        .event, .guest, .department {
            font-weight: 700;
            padding-top: 15px;
        }
        .withGuest, .copy {
            font-size: 15px;
            padding-top: 15px;
            font-weight: 300;
        }
        .noPadding {
            padding-top: 0;
        }
        .location {
            text-transform: uppercase;
            font-size: 15px;
            padding-top: 15px;
            font-weight: 300;
        }
        .attire {
            font-size: 14px;
            font-weight: 300;
            padding-top: 15px;
        }
        &.galaEvent {
            background-color: #daab3e;
            padding: 0 0 15px 0;
            margin: 0 -20px;
            .location {
                font-weight: 700;
                color: white;
                padding: 15px;
            }
            .semiFormal {
                color: white;
                padding: 0;
            }
        }
        .casual {
            color: #C744B5;
        }
        .businessCasual, .department {
            color: #1eb7c8;
        }
        .comfortableShoes {
            color: #04AA6D;
        }
        .semiFormal, .agent {
            color: #C7A044;
        }
        .break {
            padding: 35px 25px;
            background: url("https://openutility.github.io/Break.svg");
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.footer {
    @include background-diamonds;

    .footerContent {
        color: white;
        padding: 20px 0;
        font-size: 14px;
        a {
            color: white;
            text-decoration: none;
        }
    }
}



.particles {
    overflow: hidden;
    position: relative;
    height: 100px;
}


.circle-container {
    $particleNum: 200;
    $particleColor: hsl(42, 72%, 80);
  
    position: absolute;
    transform: translateY(-10vh);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  
    .circle {
      width: 40%;
      height: 40%;
      border-radius: 50%;
      mix-blend-mode: screen;
      background-image: radial-gradient(
        hsl(42, 72%, 80%),
        hsl(42, 72%, 80%) 10%,
        hsla(180, 100%, 80%, 0) 56%
      );
  
      animation: fadein-frames 200ms infinite, scale-frames 2s infinite;
  
      @keyframes fade-frames {
        0% {
          opacity: 1;
        }
  
        50% {
          opacity: 0.7;
        }
  
        100% {
          opacity: 1;
        }
      }
  
      @keyframes scale-frames {
        0% {
          transform: scale3d(0.4, 0.4, 1);
        }
  
        50% {
          transform: scale3d(2.2, 2.2, 1);
        }
  
        100% {
          transform: scale3d(0.4, 0.4, 1);
        }
      }
    }
  
    $particleBaseSize: 8;
  
    
    @for $i from 1 through $particleNum {
      &:nth-child(#{$i}) {
        $circleSize: random($particleBaseSize);
        width: $circleSize + px;
        height: $circleSize + px;
  
        $startPositionY: random(10) + 100;
        $framesName: "move-frames-" + $i;
        $moveDuration: 5800 + random(9000) + ms;
  
        animation-name: #{$framesName};
        animation-duration: $moveDuration;
        animation-delay: random(3700) + ms;
  
        @keyframes #{$framesName} {
          from {
            transform: translate3d(
              #{random(100) + vw},
              #{$startPositionY + 50px},
              0
            );
          }
  
          to {
            transform: translate3d(
              #{random(100) + vw},
              #{- $startPositionY - random(30) + 100px},
              0
            );
          }
        }
  
        .circle {
          animation-delay: random(4000) + ms;
        }
      }
    }
  }